/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/
/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display');*/
body {
    background-color: #ece9d8;
}
#ControlBar, #ControlBar *, .actionMenu * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.container {
    font-family: Raleway;
    color: #58595b;
}
.maintext-pane {
    line-height: 25px;
    background-color: #e6e6e6;
}
.banner-pane {
    height: 480px;
    position: relative;
}
.content-title-pane {
    border-bottom: 1px solid #BBB;
    margin-bottom: 20px;
    background-color: #F7F9F7;
}

.title1 {
    font-family: "Playfair Display";
    font-size: 42px;
    line-height: 42px;
}
.title2 {
    color: #164576;
    font-weight: bold;
    font-size: 17px;
}
.text2 {
    font-size: 16px;
    line-height: 25px;
}
.gradient-bordered {
    margin: 30px auto;
    height: 2px;
    width: 60%;
    background: transparent url("./Great Books Reading Programs _ HOME_files/gradient_separator.png") no-repeat 0 0;
}
.book-bordered {
    margin: 35px auto;
    height: 35px;
    width: 60%;
    background: transparent url("./Great Books Reading Programs _ HOME_files/book_separator.png") no-repeat 0 0;
}
ul.content-list {
    list-style-type: disc;
}
ul.content-list > li {
    color: #164576;
    font-size: 25px;
    margin-bottom: 15px;
}
ul.content-list > li > span {
    color: #58595b;
    font-size: 16px;
    line-height: 25px;
}
.navbar-gb-custom {
    color: #3f7f3c;
    border-radius:0;
    margin: 0;
}
.navbar-gb-custom .container {
    background-color: #FFF;
    padding: 0;
    position: relative;
}
.navbar-gb-custom .navbar-nav > li > a {
    color:#3f7f3c;
    font-size: 13px;
    font-weight: bolder;
}

.navbar-gb-custom .navbar-nav > .active > a {
    color: #3f7f3c;
    background-color:transparent;
}
      
.navbar-gb-custom .navbar-nav > li > a:hover,
.navbar-gb-custom .navbar-nav > li > a:focus,
.navbar-gb-custom .navbar-nav > .active > a:hover,
.navbar-gb-custom .navbar-nav > .active > a:focus,
.navbar-gb-custom .navbar-nav > .open >a {
    text-decoration: none;
    color: #FFF;
    background-color: #3f7f3c;
}
     
.navbar-gb-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-gb-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-gb-custom .icon-bar {
    background-color:#33aa33;
}
.navbar-gb-custom .dropdown-toggle {
    border: 1px solid #3f7f3c;
}
.navbar-nav>li>a {
    padding: 10px 15px;
}
.navbar-brand {
    height: 120px;
    padding: 15px 50px;
}
.navbar-brand img {
    width: 400px;
}
#gb-navbar-collapse-1 {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.border-line-top-page {
    float: right;
    height: 7px;
    width: 680px;
    background-color: #3f7f3c;
}

.banner-crossfade > img { 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s; 
}

.banner-crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.banner-crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    20% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    33% { opacity: 1 }
    53% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    20% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    33% { opacity: 1 }
    53% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    20% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    33% { opacity: 1 }
    53% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    20% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    33% { opacity: 1 }
    53% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    20% { opacity: 1;
         animation-timing-function: ease-out; }
    33% { opacity: 1 }
    53% { opacity: 0 }
    100% { opacity: 0 }
}
.banner-fixed-text {
    position: absolute;
    padding: 0;
    top: 300px;
}
.banner-fixed-text img {
    width: 100%;
    height: auto;
}
.middle-tabbar-pane {
    background: url("./Great Books Reading Programs _ HOME_files/pg_tabbar_back.jpg") no-repeat;
    background-size: 100%;
    padding: 10px 100px 10px 100px;
}
.middle-tabbar-pane img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.middle-tabbar-pane img:hover {
    opacity: 1;
}
.pg-tabbar-separator {
    position: absolute;
    left: 100%;
    top: 5%;
    bottom: 5%;
    border-left: 2px solid rgba(255,255,255,.4);
}

.footer-upper-contact {
    background-color: #F7F9F7;
    border-top: 1px solid #888;
    border-bottom: 2px solid #888;
    padding: 20px;
}
.gb-green-button {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    background-color: #3f7f3c;
    color: #FFF;
    border: none;
}
.gb-green-button:hove {
}
.p-contact-info {
    text-align: center;
    color: #164576;
    font-family: Arial;
    font-size: 14px;
}
.footer-lower-copyright {
    color: #666;
    background-color: #b3b3b3;
    font-family: Raleway;
    padding: 30px;
    font-size: 14px;
    text-align: center;
}

.filled-row {
    margin: 0;
}

@media (max-width: 1200px) {
    #gb-navbar-collapse-1 {
        right: 0;
    }
    .navbar-brand img {
        width: 300px;
    }
    .banner-pane {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .navbar-brand img {
        width: 200px;
    }
    .navbar-nav>li>a {
        padding: 10px 7px;
    }
    .banner-pane {
        height: 300px;
    }
    .middle-tabbar-pane {
        padding-left: 0;
        padding-right: 0;
    }
    .banner-fixed-text {
        top: 180px;
    }
    .title1 {
        font-size: 30px;
    }

}

@media (max-width: 768px) {
    #gb-navbar-collapse-1 {
        position: relative;
        margin-left: 0;
    }
    .navbar-brand {
    }
    .navbar-brand img {
        width: 250px;
    }
    .banner-fixed-text {
        top: 80px;
    }
    .banner-pane {
        height: 155px;
    }
}